USE [master]
GO
/****** Object:  Database [QuanLyTaiKhoanNganHang]    Script Date: 12/3/2021 9:20:24 AM ******/
CREATE DATABASE [QuanLyTaiKhoanNganHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyTaiKhoanNganHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuanLyTaiKhoanNganHang.mdf' , SIZE = 139264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyTaiKhoanNganHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuanLyTaiKhoanNganHang_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyTaiKhoanNganHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyTaiKhoanNganHang]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 12/3/2021 9:20:24 AM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [MSmerge_F9FE7EB1FC27479F96F26605807A9887]    Script Date: 12/3/2021 9:20:24 AM ******/
CREATE ROLE [MSmerge_F9FE7EB1FC27479F96F26605807A9887]
GO
/****** Object:  DatabaseRole [MSmerge_ECEF849643E440AEAE01D7A6A582408A]    Script Date: 12/3/2021 9:20:24 AM ******/
CREATE ROLE [MSmerge_ECEF849643E440AEAE01D7A6A582408A]
GO
/****** Object:  DatabaseRole [MSmerge_D8DC95A071364AD099262D4EA0E22217]    Script Date: 12/3/2021 9:20:24 AM ******/
CREATE ROLE [MSmerge_D8DC95A071364AD099262D4EA0E22217]
GO
/****** Object:  DatabaseRole [MSmerge_CBD4FDEABA874E25AA2E59F8E0F78092]    Script Date: 12/3/2021 9:20:24 AM ******/
CREATE ROLE [MSmerge_CBD4FDEABA874E25AA2E59F8E0F78092]
GO
/****** Object:  DatabaseRole [MSmerge_B8CF748097604AF7A4B42E9923930239]    Script Date: 12/3/2021 9:20:25 AM ******/
CREATE ROLE [MSmerge_B8CF748097604AF7A4B42E9923930239]
GO
/****** Object:  DatabaseRole [MSmerge_B4E056BD430E40329CEA4A7E1127A7B1]    Script Date: 12/3/2021 9:20:25 AM ******/
CREATE ROLE [MSmerge_B4E056BD430E40329CEA4A7E1127A7B1]
GO
/****** Object:  DatabaseRole [MSmerge_9135827A013448558C06A5DC0E549991]    Script Date: 12/3/2021 9:20:25 AM ******/
CREATE ROLE [MSmerge_9135827A013448558C06A5DC0E549991]
GO
/****** Object:  DatabaseRole [MSmerge_7C22BFE3DF974FA9A72EF8E853E28B10]    Script Date: 12/3/2021 9:20:25 AM ******/
CREATE ROLE [MSmerge_7C22BFE3DF974FA9A72EF8E853E28B10]
GO
/****** Object:  DatabaseRole [MSmerge_66FB7D7C5C144B20A20F8465F5B4DCB9]    Script Date: 12/3/2021 9:20:25 AM ******/
CREATE ROLE [MSmerge_66FB7D7C5C144B20A20F8465F5B4DCB9]
GO
/****** Object:  DatabaseRole [MSmerge_32175CBC34404ED08DB99746DA68E277]    Script Date: 12/3/2021 9:20:25 AM ******/
CREATE ROLE [MSmerge_32175CBC34404ED08DB99746DA68E277]
GO
/****** Object:  DatabaseRole [MSmerge_0E7680C30C9543C0B3F3D05226C51CA1]    Script Date: 12/3/2021 9:20:25 AM ******/
CREATE ROLE [MSmerge_0E7680C30C9543C0B3F3D05226C51CA1]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_F9FE7EB1FC27479F96F26605807A9887]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_ECEF849643E440AEAE01D7A6A582408A]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_D8DC95A071364AD099262D4EA0E22217]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_CBD4FDEABA874E25AA2E59F8E0F78092]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_B8CF748097604AF7A4B42E9923930239]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_B4E056BD430E40329CEA4A7E1127A7B1]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_9135827A013448558C06A5DC0E549991]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_7C22BFE3DF974FA9A72EF8E853E28B10]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_66FB7D7C5C144B20A20F8465F5B4DCB9]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_32175CBC34404ED08DB99746DA68E277]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_0E7680C30C9543C0B3F3D05226C51CA1]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 12/3/2021 9:20:25 AM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  Table [dbo].[ChiNhanh]    Script Date: 12/3/2021 9:20:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanh](
	[Id_Chi_Nhanh] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TenChiNhanh] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SDT] [nvarchar](50) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_ChiNhanh] PRIMARY KEY CLUSTERED 
(
	[Id_Chi_Nhanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/3/2021 9:20:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[ID_Khach_Hang] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Ten] [nvarchar](255) NULL,
	[CMT] [nvarchar](50) NOT NULL,
	[SDT] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[NgaySinh] [date] NOT NULL,
	[DiaChi] [nvarchar](255) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[ID_Khach_Hang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/3/2021 9:20:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[IdNhanVien] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TenNhanVien] [nvarchar](255) NULL,
	[SDT] [nvarchar](20) NULL,
	[CMT] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](255) NULL,
	[ChucVu] [nvarchar](255) NULL,
	[IDChiNhanh] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[IdNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoTietKiem]    Script Date: 12/3/2021 9:20:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoTietKiem](
	[Id_So_Tiet_Kiem] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SoTien] [float] NOT NULL,
	[MaSo] [nvarchar](255) NOT NULL,
	[LaiSuat] [float] NULL,
	[ThoiHan] [date] NOT NULL,
	[NgayTao] [date] NOT NULL,
	[IdTaiKhoan] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_SoTietKiem] PRIMARY KEY CLUSTERED 
(
	[Id_So_Tiet_Kiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/3/2021 9:20:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[Id_Tai_Khoan] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SoDu] [float] NOT NULL,
	[NgayTao] [date] NOT NULL,
	[STK] [nvarchar](255) NOT NULL,
	[IdChiNhanh] [int] NOT NULL,
	[IdKhachHang] [int] NOT NULL,
	[IdNhanVien] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[Id_Tai_Khoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[The]    Script Date: 12/3/2021 9:20:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[The](
	[Id_The] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[NgayTao] [date] NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[Status] [nvarchar](255) NOT NULL,
	[SoThe] [nvarchar](255) NOT NULL,
	[IdTaiKhoan] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_The] PRIMARY KEY CLUSTERED 
(
	[Id_The] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinGiaoDich]    Script Date: 12/3/2021 9:20:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinGiaoDich](
	[Id_Thong_Tin_Giao_Dich] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SoTien] [float] NOT NULL,
	[ThoiGian] [date] NOT NULL,
	[IdTaiKhoan] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[IdTaiKhoanNhan] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1006626629]    Script Date: 12/3/2021 9:20:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1006626629] ON [dbo].[ChiNhanh]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_974626515]    Script Date: 12/3/2021 9:20:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_974626515] ON [dbo].[KhachHang]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1038626743]    Script Date: 12/3/2021 9:20:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1038626743] ON [dbo].[NhanVien]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1262627541]    Script Date: 12/3/2021 9:20:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1262627541] ON [dbo].[SoTietKiem]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TaiKhoan]    Script Date: 12/3/2021 9:20:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TaiKhoan] ON [dbo].[TaiKhoan]
(
	[STK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1326627769]    Script Date: 12/3/2021 9:20:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1326627769] ON [dbo].[TaiKhoan]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1470628282]    Script Date: 12/3/2021 9:20:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1470628282] ON [dbo].[The]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1198627313]    Script Date: 12/3/2021 9:20:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1198627313] ON [dbo].[ThongTinGiaoDich]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiNhanh] ADD  CONSTRAINT [MSmerge_df_rowguid_E4267E7E412F47DAB1EE7F29D73D5FC9]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [MSmerge_df_rowguid_A29B5D84FD5049A3BA2FC1F7A6AE2B5F]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [MSmerge_df_rowguid_612ED6E1989C4CB6B3824DC43625C411]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[SoTietKiem] ADD  CONSTRAINT [DF_SoTietKiem_SoTien]  DEFAULT ((0)) FOR [SoTien]
GO
ALTER TABLE [dbo].[SoTietKiem] ADD  CONSTRAINT [MSmerge_df_rowguid_EFB813627F3E4E559C8A34ECEE160D4E]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [DF_TaiKhoan_SoDu]  DEFAULT ((0)) FOR [SoDu]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [MSmerge_df_rowguid_97E805A135D44819AE86FADBA4CA7C80]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[The] ADD  CONSTRAINT [MSmerge_df_rowguid_6BDEE9CE90564F7D981AF34CFE358171]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[ThongTinGiaoDich] ADD  CONSTRAINT [DF_ThongTinGiaoDich_SoTien]  DEFAULT ((0)) FOR [SoTien]
GO
ALTER TABLE [dbo].[ThongTinGiaoDich] ADD  CONSTRAINT [MSmerge_df_rowguid_634B4348F440415392FADF122EC1402F]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChiNhanh] FOREIGN KEY([IDChiNhanh])
REFERENCES [dbo].[ChiNhanh] ([Id_Chi_Nhanh])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChiNhanh]
GO
ALTER TABLE [dbo].[SoTietKiem]  WITH CHECK ADD  CONSTRAINT [FK_SoTietKiem_TaiKhoan] FOREIGN KEY([IdTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([Id_Tai_Khoan])
GO
ALTER TABLE [dbo].[SoTietKiem] CHECK CONSTRAINT [FK_SoTietKiem_TaiKhoan]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_ChiNhanh] FOREIGN KEY([IdChiNhanh])
REFERENCES [dbo].[ChiNhanh] ([Id_Chi_Nhanh])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_ChiNhanh]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_KhachHang] FOREIGN KEY([IdKhachHang])
REFERENCES [dbo].[KhachHang] ([ID_Khach_Hang])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_KhachHang]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([IdNhanVien])
REFERENCES [dbo].[NhanVien] ([IdNhanVien])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
ALTER TABLE [dbo].[The]  WITH CHECK ADD  CONSTRAINT [FK_The_TaiKhoan1] FOREIGN KEY([IdTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([Id_Tai_Khoan])
GO
ALTER TABLE [dbo].[The] CHECK CONSTRAINT [FK_The_TaiKhoan1]
GO
ALTER TABLE [dbo].[ChiNhanh]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_A69D5DB8_1C4D_480E_B911_5AB046137D10] CHECK NOT FOR REPLICATION (([Id_Chi_Nhanh]>(2) AND [Id_Chi_Nhanh]<=(1002) OR [Id_Chi_Nhanh]>(1002) AND [Id_Chi_Nhanh]<=(2002)))
GO
ALTER TABLE [dbo].[ChiNhanh] CHECK CONSTRAINT [repl_identity_range_A69D5DB8_1C4D_480E_B911_5AB046137D10]
GO
ALTER TABLE [dbo].[KhachHang]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_25F20E44_96B5_4403_9602_B33D485FD971] CHECK NOT FOR REPLICATION (([ID_Khach_Hang]>=(1) AND [ID_Khach_Hang]<=(1001) OR [ID_Khach_Hang]>(1001) AND [ID_Khach_Hang]<=(2001)))
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [repl_identity_range_25F20E44_96B5_4403_9602_B33D485FD971]
GO
ALTER TABLE [dbo].[NhanVien]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_63B3E4E8_3A59_4BFA_AFA5_C27EB1F2CC6F] CHECK NOT FOR REPLICATION (([IdNhanVien]>(2) AND [IdNhanVien]<=(1002) OR [IdNhanVien]>(1002) AND [IdNhanVien]<=(2002)))
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [repl_identity_range_63B3E4E8_3A59_4BFA_AFA5_C27EB1F2CC6F]
GO
ALTER TABLE [dbo].[SoTietKiem]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_5D488E1C_937D_41DF_A504_77EC75A9DEF7] CHECK NOT FOR REPLICATION (([Id_So_Tiet_Kiem]>=(1) AND [Id_So_Tiet_Kiem]<=(1001) OR [Id_So_Tiet_Kiem]>(1001) AND [Id_So_Tiet_Kiem]<=(2001)))
GO
ALTER TABLE [dbo].[SoTietKiem] CHECK CONSTRAINT [repl_identity_range_5D488E1C_937D_41DF_A504_77EC75A9DEF7]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_9F73F55C_524B_4F61_9E9F_4F3E76A9E560] CHECK NOT FOR REPLICATION (([Id_Tai_Khoan]>=(1) AND [Id_Tai_Khoan]<=(1001) OR [Id_Tai_Khoan]>(1001) AND [Id_Tai_Khoan]<=(2001)))
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [repl_identity_range_9F73F55C_524B_4F61_9E9F_4F3E76A9E560]
GO
ALTER TABLE [dbo].[The]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_BD5CBBB2_60EA_4B48_A18B_51004F084664] CHECK NOT FOR REPLICATION (([Id_The]>=(1) AND [Id_The]<=(1001) OR [Id_The]>(1001) AND [Id_The]<=(2001)))
GO
ALTER TABLE [dbo].[The] CHECK CONSTRAINT [repl_identity_range_BD5CBBB2_60EA_4B48_A18B_51004F084664]
GO
ALTER TABLE [dbo].[ThongTinGiaoDich]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_79C78975_83A9_428A_A281_56B73BD1DF4C] CHECK NOT FOR REPLICATION (([Id_Thong_Tin_Giao_Dich]>=(1) AND [Id_Thong_Tin_Giao_Dich]<=(1001) OR [Id_Thong_Tin_Giao_Dich]>(1001) AND [Id_Thong_Tin_Giao_Dich]<=(2001)))
GO
ALTER TABLE [dbo].[ThongTinGiaoDich] CHECK CONSTRAINT [repl_identity_range_79C78975_83A9_428A_A281_56B73BD1DF4C]
GO
/****** Object:  StoredProcedure [dbo].[chuyenKhoan]    Script Date: 12/3/2021 9:20:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[chuyenKhoan] 
	-- Add the parameters for the stored procedure here
	@stkTaiKhoanNguoiGui int=0,
	@stkTaiKhoanNguoiNhan int=0,
	@soTienGui float=0,
	@giaoDichDaThanhCong BIT OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	BEGIN TRANSACTION;
	DECLARE @AffectedUser int=0;
DECLARE @soDuSender float=0;
DECLARE @nguoiNhan int =NULL;
DECLARE @nguoiGui int =NULL;
SET @soDuSender=ISNULL((SELECT SoDu FROM dbo.TaiKhoan WHERE dbo.TaiKhoan.STK=@stkTaiKhoanNguoiGui ),0);

SET @nguoiGui=(SELECT Id_Tai_Khoan FROM dbo.TaiKhoan WHERE dbo.TaiKhoan.STK=@stkTaiKhoanNguoiGui);
SET @nguoiNhan=(SELECT Id_Tai_Khoan FROM dbo.TaiKhoan WHERE dbo.TaiKhoan.STK=@stkTaiKhoanNguoiNhan);


IF(@stkTaiKhoanNguoiGui!=@stkTaiKhoanNguoiNhan AND @nguoiNhan IS NOT NULL AND @nguoiGui IS NOT NULL)
BEGIN

UPDATE TaiKhoan SET SoDu=SoDu+@soTienGui WHERE stk=@stkTaiKhoanNguoiNhan;
UPDATE TaiKhoan SET SoDu=SoDu-@soTienGui WHERE STK=@stkTaiKhoanNguoiGui;
SET @soDuSender=(SELECT SoDu FROM dbo.TaiKhoan WHERE dbo.TaiKhoan.STK=@stkTaiKhoanNguoiGui );

IF(@soDuSender<0)
SET @giaoDichDaThanhCong=0;
ELSE
SET @giaoDichDaThanhCong=1;
END
ELSE
SET @giaoDichDaThanhCong=0;

IF(@giaoDichDaThanhCong=0)
ROLLBACK TRAN;
ELSE
BEGIN
INSERT INTO [dbo].[ThongTinGiaoDich]([IdTaiKhoan],[IdTaiKhoanNhan],SoTien,ThoiGian) VALUES(@nguoiGui,@nguoiNhan,@soTienGui,GETDATE());
COMMIT TRAN;

END
    -- Insert statements for procedure here
	
END
GO
USE [master]
GO
